.buttons {
  text-align:center;
  width:100%;
}
input {
  background-color:antiquewhite;
  padding:2px;
  margin:3px;
}
#code,#alertArea {
  width:95%;
  border:1px solid black;
  min-height:100px;
  margin-top:5px;
  padding:10px;
  font-family:'Courier New', Courier, monospace;
  text-align:left;
}
#alertArea {
}

#code p {
  line-height:1em;
}

.tab {
    display: inline-block;
    margin-left: 10px;
}

dd {
  color:red;
  font-size:10pt;
}
dd li {
  font-size:10pt;
  color:blue;
}